.content {
    padding: 16px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  #loadingCircleCustom {
    z-index: 1;
    position: fixed;
    left: calc(50% + 100px);
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
} 